.zoom-out {
    transition: transform 0.3s ease;
    display: flex;
    
   
  }

  .cont{
    padding:10px;
    max-width: 550px;
    max-height: fit-content;
    margin-left: 150px;
    
    
  }
  .details{
    margin-left: 145px;
    margin-top: 186px;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #ccc; 
    max-width: 300px; 
    max-height: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
  }

  .reviews{
    margin-left: 71px;
    margin-top: 700px;
    max-width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc; /* Aligns .details to the middle-right */
    max-width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
  }
  .zoom-out:hover {
    transform: scale(2); /* Adjust the scale factor for the zoom effect */
  }
  